$primary: #fff;
$secondary: #333;

@import 'Menu/Menu';
@import 'Game/Game';
@import 'Game/Tips/Tips';

@import 'light';

* {
	font-size: 10px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: normal;
	color: $primary;

	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;

	transition: all 0.2s ease;

	&::selection {
		color: black;
	}
}

h1 {
	font-size: 7rem;
}

.Brained {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: $secondary;

	button {
		background-image: linear-gradient(to right, $primary 0%, $primary 50%);
		background-color: transparent;
		background-repeat: no-repeat;
		background-size: 0%;
	
		font-size: 3rem;
		padding: 1rem 2rem;
		border: 2px solid $primary;
		cursor: pointer;
	
		&:hover {
			background-size: 100%;
			color: $secondary;
		}
	}

	.icon {
		position: absolute;
		top: 2rem;
		font-size: 5rem;
		cursor: pointer;
		
		&.refresh {
			left: 2rem;

			&:hover {
				transform: rotate(360deg);
			}
		}

		&.tips {
			right: 2rem;

			&.appear {opacity: 1;}
			&.disappear {opacity: 0;}
		}

		&.close {
			position: unset;
		}

		&.theme {
			top: 8rem;
			left: 2rem;
		}
	}

	&.light {
		@include theme;
	}
}